
/*---------- down page ----------*/

#down_page {
    color: white;
    font-size: 1.8em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position : relative;
    bottom : auto;
    text-align: center;
    box-sizing: border-box;
    padding: 0.2em;
    width: 100vw;

    background: #7eac65;
    box-shadow: 0 -0.2em 0.2em rgba(0, 0, 0, 0.15);
}

footer {
    width: 100vw;
    background-color: #333;
    color: #fff;
    padding: 1.6em;
    text-align: center;
}
